.uploader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.file-input-box {
  padding: 2rem 3rem;
  border: 0.2rem dotted var(--primary-gray);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.file-input-box:hover {
  cursor: pointer;
  border: 0.2rem dotted var(--primary-lightgray);
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #ddd;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 8px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
