.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  background-color: var(--bg);
  border-bottom: 0.01rem solid var(--bg-lighter);
  height: 12.5%;
}

.nav-logo {
  font-size: 1.75rem;
  font-weight: 600;
}

.nav-links {
  font-size: 1.2rem;
  font-weight: 500;
}
