.main-section {
  flex-direction: row !important;
}

.items-sidebar {
  width: 22.5%;
  height: 100%;
  border-right: 0.01rem solid var(--bg-lighter);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.75rem;
}

.items-sidebar-header {
  font-size: 1.25rem;
  font-weight: 500;
  border-bottom: 0.01rem solid var(--bg-lighter);
  padding-left: 0.5rem;
}

.item {
  padding-left: 0.5rem;
}

.item:hover {
  cursor: pointer;
}

.items-info-container {
  width: 77.5%;
  height: 100%;
}
